* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.darkmode {
    background-color: black !important;
    color:white;
    transition: .3s;
}

li {
    padding: 15px 0px;
    list-style: none;
}

ul > * {
    display: flex;
    align-items: center;
}

.leftTab {
    grid-row:1/3;
    background-color: #f87171;
    font-size: larger;
    color: white;
    box-shadow:inset -1px 0px 3px gray ;
}

.header {
    background-color: #fef2f2;
    gap: 12px;
    padding: 0px 50px;
}

.name >img {
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    padding-right: 20px;
}

.topBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1/3;
    align-items: center;
}
.searchBar {
    border-radius: 30px;
    border-style: none;
    padding: 15px 10px;
    width: 40vw;
    background-color: #fecaca;
}
.profile {
    display: flex;
    grid-column: 2/3;
    gap: 3vw;
    align-items: center;
}
.profile > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.bottomBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 1/3;
}
.name {
    grid-column: 1/2;
}
.name > * {
    display: inline-block;
}
.post {    
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
}
.post > * {
    margin: 0px 1vw;
    padding: 10px 20px;
    background-color: #f87171;
    border-style: none;
    border-radius: 30px;
    color: white;
}

.searchBar:hover, .post>*:hover {
    border-style:1px;
    opacity: .7;
}

.content {
    display: grid;
    background-color: #fecaca;
    grid-template-columns: 8fr 2fr;
    grid-column: 2/3;
    gap: 20px;
    box-shadow:inset 0 0 4px gray;
    padding: 20px;

}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 40px;
}

.project {
    background-color: #fef2f2;
    border-radius: 5px;
}

.projects > h2 {
    align-self: center;
    grid-column: 1/-1;
}

.rightContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.announcement {
    margin:2px 10px;
    background-color: #fef2f2;
    border-radius: 10px;
    padding: 10px 20px;
}

.trend {
    background-color: #fef2f2;
    border-radius: 10px;
    margin:2px 10px;
    padding: 10px 20px;
}